.navbar{
    display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 20px 170px;
}
.navbar-list{
    display: flex;
    list-style: none;
   align-items: center;
   gap:60px;
   font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
   background: linear-gradient(267deg, #DA7C25 0.36%,#B923E1 102.06%);
   transition: 0.5s;

}
.nav-connect:hover{
    transform: scale(1.05);
}

.logo {
    width: 60px;
    height: 20px;
    display: flex;
    margin: auto;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
@media(max-width: 768px) {
    .navbar{
        margin: 20px 50px;
    }
    .nav-menu{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 20px;
        left: 290px;
        width: 30px;
    }
    .navbar-list{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        width: 350px;
        height: 100%;
        z-index: 2;
        background-color: #1F0016;
        transition:right 0.5s;
        right: -350px;

    }
    .navbar-list li{
        font-size: 30px;
       padding-left: 100px;
       flex-direction: row;
       gap: 20px;
    }
}